// Body
$body-bg: #f7f9fa;

$brand-primary: #4c6f8c;
$brand-donate: #ebc500;
$border-color: #d4d7de;

$font-family-sans-serif: "Work Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #4a4a4a;
