.panel {
  width: 800px;
  max-width: 90%;
  margin: auto;
  box-shadow: 0 10px 40px 10px rgba(0,0,0,.1);
  border-radius: 2px;
  margin-top: 30px;

  @media (min-width: 1200px) {
    margin-top: 150px;
  }

  header {
    padding: 50px 25px;
    background: #fafafa;
    border-bottom: 1px solid #e8ebed;

    h1 {
      font-size: 2rem;
      text-align: center;
      margin: 0;
    }
  }

  .content {
    padding: 50px 25px;
    background: #fff;
  }
}
